@font-face {font-family: miya;src: url("../font/Bellerose.ttf");}
/*reset*/
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { margin:0; padding:0; }
li { list-style:none; }
fieldset, img { border:0; }
em { font-style:normal; }
button, input, select, textarea { font-size:100%; }
legend { color:#000; }
hr { border:none; height:1px; }
body, button, input, select, textarea { font:12px/1.125 Tahoma, Helvetica, "微软雅黑", san-serif; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }
.clear { clear:both; height:0; font:0/0 Arial; visibility:hidden; }



/*main*/
body{
	overflow: hidden;
	background:url(../images/bg.jpg) repeat;
}
.x{
	position: absolute;
}
h1{
	font-family: "miya";
	font-size:36px;
}

/*nav*/
nav{
	position: fixed;
	right:-100px;
	top:50%;
	border-radius:5px 0 0 5px;
	background:#fff;
	padding:10px 10px 0;
	margin-top: -85px;
	z-index: 999;
	background:rgba(255,255,255,.6);
	box-shadow: -2px 2px 5px #999;
}
nav a{
	text-decoration: none;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius:15px;
	background:#ccc;
	color:#fff;
	font-size:16px;
	margin-bottom: 10px;
	text-align: center;
	font-family:"Arial";
}
nav a:hover,nav a.cur{
	background:orange;
}
nav li{
	position: relative;
}
nav span{
	display:none;
	position: absolute;
	width: 100px;
	line-height: 20px;
	text-align: right;
	right:60px;
	top:0;
	font-family: "miya";
	font-size:16px;
}
nav li:hover span{
	display: inline-block;

}

/*home*/
#home{
	position: absolute;
	left: -200px;
	top: 1800px;
	width:400px;
	height:400px;
}
.logo{
	left:-80px;
	top:100px;
}
.cloud{
	left: -200px;
	top: 2200px;
}


/*about*/
#about{
	position: absolute;
	width: 400px;
	height: 400px;
	left:360px;
	top:3230px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.about-logo{
	left:0;
	top:20px;
}
.me{
	left:240px;
	top:80px;
}
.me .scrollwrap {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow: hidden;
    position: absolute;
    color: #224092;
    font-family: "Satisfy", cursive;§
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7);
    cursor: pointer;
}
.me .scrollwrap h3 {
    font-weight: normal;
    font-size: 22px;
    padding: 30px 0 10px 30px;
    pointer-events: none;
}

.me .scrollwrap p {
    font-size: 18px;
    padding: 0 40px 0 40px;
    pointer-events: none;
}

.me .scrollwrap p.signature {
    font-size: 20px;
    padding: 10px 30px 0 30px;
    text-align: right;
    pointer-events: none;
}
.me .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Satisfy", cursive;
    color: #224092;
    cursor: pointer;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #224092;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
}
.me .miya-pic img{
	width: 160px;
}
.me .miya-pic .plus{
	display:none;
	width: 33px;
	height: 30px;
	background:url(../images/plus.png) no-repeat  left top;
	position: absolute;
	left:5px;
	bottom:0px;
}
.me .miya-pic:hover .plus{
	display: block;
}

/*sky*/
#sky{
	position: absolute;
	width: 400px;
	height: 400px;
	left:1770px;
	top:3800px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.sky-logo{
	left:0;
	top:20px;
}
#sky .sky-func{
	left:55px;
	top:55px;
}
#sky .sky-func a{
	display: inline-block;
	width: 22px;
	height: 20px;
	background:url(../images/icon.png) no-repeat;
}
#sky .before{
	background-position:left top  !important;
}
#sky .after{
	background-position:-103px top !important;
}
#sky .prev{
	background-position:-28px top !important;
}
#sky .next{
	background-position:-78px top !important;
}
#sky .circle{
	background-position:-53px top !important;
}
.sky-list{
	left:250px;
	top:100px;
	width: 200px;
	color: #aaa;
}
.sky-list li{
	border-radius: 10px;
	padding: 5px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sky-list .pic{
	height: 180px;
	overflow: hidden;
}
.sky-list img{
	width: 200px;
}
.sky-list h4{
	color: #666;
	font-size: 14px;
	padding: 8px 10px 5px;
	margin: 10px 3px 5px;
	border-bottom: 1px solid #f0f0f0;
	color: #666;
}
.sky-list p{
	font-size: 12px;
	color:#999;
	font-weight: 700;
	padding: 0 10px;
	margin: 10px 3px 0;
}
.opensky{
	float: right;
	color:#666;
	width: 16px;
	height: 16px;
	background:url(../images/zoom.png);
}

/*say*/
#say{
	position: absolute;
	width: 400px;
	height: 400px;
	left:3800px;
	top:1780px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.say-logo{
	left:-85px;
	top:20px;
}
.say-wrap{
	left:0px;
	top:0px;
}

/*contact*/
#contact{
	position: absolute;
	width: 400px;
	height: 400px;
	left:1810px;
	top:-180px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.contact-logo{
	left:0;
	top:20px;
}
#contact .con{
	position:absolute;
	left:65px;
	top:85px;
	font-family: "miya";
	width: 200%;
}
#contact .con p{
	line-height: 1.8;
	font-size:22px;
}
#contact .con span{
	margin-right: 15px;
	display: inline-block;
	width: 100px;
	text-align: right;
}
#contact .con a,#contact .con em{
	color:orange;
	text-decoration: none;
}


/**plugin:baraja**/
ul.baraja-container {
	width: 200px;
	height: 255px;
	margin: 0 auto 30px;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background: #fff;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.no-js ul.baraja-container {
	width: auto;
	height: auto;
	text-align: center;
}

.no-js ul.baraja-container li {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 310px;
	margin: 10px;
}

/**plugin:pfold**/
/* pfold style */
.uc-container {
	position: relative;
	width: 160px;
	height: 120px;
	top: 0;
	left: 0;
}

.uc-single, 
.uc-final-wrapper,
.uc-initial-content,
.uc-back,
.uc-front {
	background: #fff url(../images/paper.jpg) repeat center center;
}

.uc-final,
.uc-initial, 
.uc-final-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.uc-initial-content,
.uc-final-content {
	width: 100%;
	height: 100%;
	position: relative;
}

.uc-final,
.uc-final-content {
	display: none;
}

.uc-initial-content {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.uc-part {
	top: 0;
	left: 0;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.uc-part > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.uc-part .uc-back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

/* Transformation-origin classes */

.uc-unfold-left {
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.uc-unfold-right {
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.uc-unfold-top {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.uc-unfold-bottom {
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

/* Unfolding classes */
.uc-unfold-left.uc-unfold {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.uc-unfold-right.uc-unfold {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.uc-unfold-top.uc-unfold {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.uc-unfold-bottom.uc-unfold{
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.uc-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.uc-overlay, 
.uc-flipoverlay {
	background-color: rgba(100, 100, 100, 0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.uc-flipoverlay {
	background-color: rgba(100, 100, 100, 0.4);
}

.uc-inner {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.uc-inner-rotate {
	-webkit-transform: rotateY(180deg) rotateX(180deg);
	-moz-transform: rotateY(180deg) rotateX(180deg);
	-o-transform: rotateY(180deg) rotateX(180deg);
	-ms-transform: rotateY(180deg) rotateX(180deg);
	transform: rotateY(180deg) rotateX(180deg);
}

.uc-container.uc-current {
	z-index: 9999;
}

/**plugin:book**/
/* Content Flip Style */
.bb-bookblock {
	width: 400px;
	height: 300px;
	position: relative;
	background: #fff;
	z-index: 100;
}

.bb-page {
	width: 50%;
	height: 100%;
	left: 50%;
	position: absolute;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}
.bb-page > div,
.bb-outer,
.bb-content {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
}

.bb-content {
	background: #fff;
}

.bb-inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.bb-overlay, .bb-outer {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bb-page > div {
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bb-back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.bb-outer {
	width: 100%;
	overflow: hidden;
	z-index: 999;
}

.bb-overlay, 
.bb-flipoverlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.bb-flipoverlay {
	background-color: rgba(0, 0, 0, 0.2);
}

.bb-bookblock > div.bb-page:first-child,
.bb-bookblock > div.bb-page:first-child .bb-back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.bb-item {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: #fff;
}
.say-wrap .ileft{
	width:50%;
	height:100%;
	float: left;
}
.say-wrap .ileft .pic{
	margin: 20px;
}
.say-wrap .ileft p{
	line-height: 1.2;
	font-size:14px;
}
.say-wrap .ileft p{
	padding:0 20px;
}
.say-wrap .ileft p.time{
	color:#666;
}
.say-wrap .ileft p.name{
	color:orange;
	padding-top: 20px;
}
.say-wrap .iright{
	width:50%;
	height:100%;
	float: left;
}
.say-wrap .iright .content{
	padding:20px;
	font-size:13px;
	color:#666;
	line-height: 1.8;
}
.say-wrap .content{
	font-size:16px;
}
.say-wrap {
	background: #fff;
	width: 400px;
	height: 340px;
	position: relative;
	margin: 40px auto;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
}

.say-wrap:before, 
.say-wrap:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	left: 0;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
}

.say-wrap:before {
	top: 6px;
	z-index: -2;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.say-wrap:after {
	top: 3px;
	z-index: -1;
}

.bb-bookblock {
	box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.1);
}

.say-wrap h3 {
	color: #aaa;
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	left: 10px;
	bottom: -3px;
}

.say-wrap .ctl {
	width: 120px;
	margin: 8px 10px 0 0;
	float: right;
	position: relative;
	z-index: 0;
}

.say-wrap .ctl a {
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/nav_small.png) center right;
	text-indent: -90000px;
	opacity: 0.8;
}

.say-wrap .ctl a:hover {
	opacity: 1;
}

.say-wrap .ctl a#bb-nav-prev {
	background-position: center left;
	margin-right: 5px;
}
.say-wrap .ctl a#bb-nav-next {
	background-position: -43px 50%;
}

.say-wrap .ctl a#bb-nav-jump {
	background-position: center right;
	float: right;
}


/*lightbox*/
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
#lightbox img {
  width: auto;
  height: auto;
}
#lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-container {
  padding: 10px;
}
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
}
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  display: block;
}
.lb-prev {
  left: 0;
  float: left;
}
.lb-next {
  right: 0;
  float: right;
}
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
.lb-data .lb-close:hover {
  cursor: pointer;
}
.lb-image{
	max-width: 650px;
}